body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1dbfaf;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    margin-right: 40px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li:last-child {
    float: right; /* Chuyển mục cuối cùng sang phải */
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="time"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"]

.custom-button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #1dbfaf;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}