/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1dbfaf;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li:last-child {
    float: right; /* Chuyển mục cuối cùng sang phải */
}

.profile {
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 40px;
}


footer {
    background-color: #1dbfaf;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#student-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#student-table th, #student-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#student-table th {
    background-color: #f2f2f2;
}

#student-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-student {
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 20px;
}

.custom-button {
    margin-top: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.custom-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    animation: slideInLeft 0.5s ease-in-out;
}

.flash-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.close-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
